<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
    <testsuite name="Nos tests">
        <directory>./tests</directory>
    </testsuite>
    <coverage>
        <include>
            <directory suffix=".php">services</directory>
            <directory suffix=".php">application</directory>
            <directory suffix=".php">controllers</directory>
        </include>
    </coverage>
</phpunit>