body {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/background.png");
}
/* Div conrtenant le titre "Profil" */
.title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
/* Ajoute un padding sur l'ensemble du contenu du profil et le contour est verts */
.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Style des boutons de déconnexion et suppression du compte */
.buttonD {
    width: 55%;
    border-radius: 25px;
    background-color: #E84855;
    border: solid 1px;
    height: 54px;
    box-shadow: 3px 3px;
    font-size: 20px;
}
/* Div au centre de la page contenant les informationsde l'utilisateur */
.Profil-Main {
    background-color: rgb(247, 247, 247);
    box-shadow: 3px 3px;
    border: solid 1px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10vh;
}
/* Champs contenant les infos de l'utilisateur */
.Email, .UserName, .Gender, .BirthDate {
    width: 100%;
    border-bottom: solid 2px #96E9D5;
}
.BirthDate, .Gender {
    margin-left: 10px;
    width: 100%;
}
.Email, .UserName {
    margin-right: 10px;
    width: 100%;
}

/* Div contenant les 2 boutons du haut */
.mid-Buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modifications apporté au boutons du bas  */
.button-Del, .button-Dec {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modification apporté au form des Boutons */
.button-Del form, .button-Dec form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modifie les boutons du haut */
.button {
    min-width: fit-content;
    width: 40%;
    height: 54px;
    border-radius: 25px;
    background-color: #96E9D5;
    align-items: center;
    text-align: center;
    border: solid 1px; 
    box-shadow: 3px 3px;
    font-size: 20px;
    margin-top: 10vh;
}
.button:hover {
    background-color: #1ead8c;
}
.button:active, .buttonD:active {
    box-shadow: 0px 0px;
}

/* Modifie le placement des boutons du bas */
.bot-Buttons-Container, .bot-button-one form, .bot-button-two form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bot-button-one, .bot-button-two {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modification de la couleur des boutons rouge au passage de la souris */
.buttonD:hover {
    background-color:#df0d2c;
}

/* Fait disparaitre toute la page quand on clique sur le bouton du burger Menu pour la version téléphone */
.show-nav .main-container {
    display: none;
}

@media (max-width:767px) {
    .BirthDate, .Gender {
        margin-left: 0;
    }
    .Email, .UserName {
        margin-right: 0;
    }

    /* Modif apporté à la div central contenant les informations pour la version téléphone */
    .Profil-Main {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }

    /* Modif approté au boutons pour la version téléphone */
    .buttonD {
        border-radius: 0;
        min-width: fit-content;
        width: 100%;
        box-shadow: 0px 0px;
    }
    .button {
        border-radius: 0;
        width: 100%;
        box-shadow: 0px 0px;
    }
    .bot-button-one, .bot-button-two {
        margin-top: 0;
    }
}