/* Ajoute un padding sur l'ensemble du contenu du profil et le contour est verts */
.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20vh;
    padding: 20px;
    border: solid 1px red;
    border-radius: 10px;
    align-items: center;
}

/* Modifie les boutons verts */
.button {
    margin: 10px;
    width: 405px;
    height: 54px;
    border-radius: 25px;
    background-color: #96E9D5;
    border: none;
    align-items: center;
    text-align: center;
}

.button:hover {
    background-color: #147760;
}

.enRouge {
    color: red;
}

.enVert {
    color: #96E9D5;
}

/* Modifie le bouton pour se désinscrire */
.buttonD {
    margin-left : 10px;
    border-radius: 25px;
    background-color: #E84855;
    border: none;
    width: 405px;
    height: 54px;
}

.buttonD:hover {
    background-color:#B3001B;
}
